.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
}

.form {
  width: 350px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 16px;
  background: #fff;
}

#h2 {
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0px;
}

.input {
  border: none;
  border-bottom: 2px solid lightgray;
  display: block;
  height: 35px;
  width: 350px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 20px;
  outline: none;
}

.inputName {
  color: grey;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#submit {
  background-color: #4840bb;
  color: white;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 15px;
  width: 350px;
  text-align: center;
  border-radius: 16px;
  border: none;
  height: 50px;
  cursor: pointer;
}

#logo {
  width: 40px;
  display: block;
  margin: auto;
}

.alert {
  color: red;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 7px auto;
}

.spaceSaver {
  height: 25px;

}